---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


.site-header, .site-title, .footer-heading, .footer-col{
  color: #000;
  background-color: #c6940d;
}

.site-footer{
    color: #000;
    background-color: #c6940d;
}

a, a:visited{
    color: #000;
}

a:hover{
    color: red;
}

.img-logo{
    float: left;
    height: 70px;
}

#thatsuspng{
    height: 89px;
    float: left;
    margin-right: 10px;
}

.page-content{
    background-image: url(/assets/images/tiles.jpg)
}

.post-article-images-left{
    float: left;
    width: 120px;
    margin: 10px;
}


.post-article-images-right{
    float: right;
    width: 120px;
    margin: 10px;
}

.post-read-more{
    float: center;
    width: 200px;
    margin: 10px;
}


.post-article-images-left-large{
    float: left;
    width: 250px;
    margin: 10px;
}

.post-article-images-right-large{
    float: right;
    width: 250px;
    margin: 10px;
}
.front-post-title{
    background-color: #f0de8a;
}

.front-post-title-img{
    float: right;
    width: 100px;
    margin-top: 5px;
}
