---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


.site-header, .site-title, .footer-heading, .footer-col{
  color: #000;
  background-color: #c6940d;
}

.site-footer{
    color: #000;
    background-color: #c6940d;
}

a, a:visited{
    color: #000;
}

a:hover{
    color: red;
}

.img-logo{
    float: left;
    height: 70px;
}

#thatsuspng{
    height: 89px;
    float: left;
    margin-right: 10px;
}

.page-content{
    background-image: url(/assets/images/tiles.jpg)
}

.front-post-title{
    background-color: #f0de8a;
}

.front-post-title-img{
    float: right;
    width: 150px;
    margin-top: 5px;
}