---
layout: default
---
<div class="block-content">
<h1 class="topictitle">{{ page.name }}</h1>
{{ content }}
</div>
<ul>
  {% assign filtered_posts = site.posts | where: 'topic', page.short_name %}
  {% if filtered_posts.size > 0 %}
    <h2>Here are my posts related to {{ page.name }}</h2>
  {% else %}  
   <h3>Currently No Post Available</h3>
  {% endif %}

  {% for post in filtered_posts %}
    <li><a href="{{ post.url }}">{{ post.title }} </a> written on {{ post.date | date: '%B %d, %Y' }}</li>
  {% endfor %}
</ul>